@import "src/styles/sizes";
@import "src/styles/colors";

.container {
    width: 100%;
    padding: $largeOffset;
    background: $white;

    display: flex;
    justify-content: center;

    .content {
        width: 600px;
        padding: $largeOffset;

        background: $whiteBlue;
        border-radius: $mediumOffset;
    }
}